html {
    scroll-behavior:smooth;
}

nav {
   backdrop-filter:blur(4px);

}


.bg-white-transparent {
   background-color:#ffffffaa;
}

.bg-gray-transparent {
   background-color:#03030322;
}

.bg-invitation-box {
   background: linear-gradient(to right, #ffa50044, #ffa50000), url('./media/img/80cut.jpg');
   background-position: 70% center;
   background-size:cover;
}

.bdrop-filter-blur {
   backdrop-filter:blur(4px);
}

.fs-cinzel {
    font-family: 'Cinzel Decorative', serif;
   }

.fs-confortaa {
   font-family: 'Comfortaa', sans-serif;
   }

   .fs-montserrat {
      font-family: 'Montserrat', sans-serif;
   }

   .bg-header {
      background:linear-gradient(to bottom, #ffffffff, #ffffff00),url('./media/img/bari.jpg');
      background-size:cover;
      background-repeat:no-repeat;
   }

   /* swiper */
.swiper {
   width: 100%;
   height: 90vh;
   }
   
   .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   }
   
   .swiper-slide {
   display: block;
   height: 100%;
   object-fit: cover;
   display: block;
   height: 100vh;
   object-fit: cover;
   background-size:cover;
   }
   
   /* slider con gradiente */
   
   /* .swiper-slide-1 {
   background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('./media/slider01.jpg');
   background-size:cover;
   background-position: top center;
   }
    */
   
   .swiper-slide-1 {
   background: url('./media/img/fortinoo.png');
   background-size:cover;
   background-position: center;
   }
   
   .swiper-slide-2 {
   background: url('./media/img/cariello.jpg');
   background-size:cover;
   background-position: center;
   
   }
   
   .swiper-slide-3 {
   background: url('./media/img/giardino_cariello.jpg');
   background-size:cover;
   background-position: center;
   
   }
   
   .swiper-slide-4 {
   background: url('./media/img/cariello_interni.jpg');
   background-size:cover;
   background-position: center;
   
   }


   
.swiper-button-next::after, .swiper-button-prev::after {
   content: "";
   }
   
   .swiper-button-prev {
   background-image: url('./media/icon/circle-chevron-left.svg');
   background-repeat:no-repeat;
   background-position:right;
   padding-left:10%;
   transition:200ms;
   z-index:30;
   }
   
   .swiper-button-next {
   background-image: url('./media/icon/circle-chevron-right.svg');
   background-repeat:no-repeat;
   padding-right:10%;
   transition:200ms;
   z-index:30;

   
   }
   
   .swiper-button-prev:hover {
       background-image: url('./media/icon/circle-chevron-left-hover.svg');
   
       }
       
   .swiper-button-next:hover {
   background-image: url('./media/icon/circle-chevron-right-hover.svg');
   
   }
   
   
   .swiper-pagination-bullet {
   background: rgba(255,255,255, 0.3);
   width: 0.8rem;
   height: 0.8rem;
   border-radius: .5rem;
   opacity: 1;
   }
   
   .swiper-pagination-bullet-active {
   background: rgba(255,255,255, 0.7);
   width: 0.8rem;
   height: 0.8rem;
   border-radius: .5rem;
   }

   .swiper-slide-visible{
      z-index:10 !important;
    }

    /* zoom-in metodo animation */

.zoom-in {
   width:100%!important;
   animation: zoom 8000ms ease-in-out forwards;
   }

@keyframes zoom{
   100% {
     transform:scale(1.2);
   }
 }


   
.loader1 {
    display:inline-block;
    font-size:0px;
    padding:0px;
 }
 .loader1 span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:10px;
    height:10px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
 }
 .loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(245, 103, 115,0.6);
 }
 .loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(245, 103, 115,0.8);
 }
 .loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:rgba(245, 103, 115,1);
 }
 .loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(245, 103, 115,0.8);
   
 }
 .loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(245, 103, 115,0.4);
 }
 
 @keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }


 .loader9 {
    display:inline-block;
      position: relative;
      width: 50px;
      height: 50px;
    -webkit-animation:loader9 1.5s linear infinite;
     animation:loader9 1.5s linear infinite;
  }
  .loader9:before,
  .loader9:after {
      position: absolute;
      content: "";
      left: 30px;
      top: 0;
      width: 30px;
      height: 50px;
      background: #d60200;
      -moz-border-radius: 30px 30px 0 0;
      border-radius: 30px 30px 0 0;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  .loader9:after {
      left: 0;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }
      
  @keyframes loader9 {
     0% {transform: scale(0, 0);opacity:0;}
     100% {transform: scale(1, 1);opacity:1;}
  }
  @-webkit-keyframes loader9 {
     0% {-webkit-transform: scale(0, 0);opacity:0;}
     100% {-webkit-transform: scale(1, 1);opacity:1;}
  }
  

/* infinite scroll metodo 2  */

  .box {
    height:100px;
    background-color: black;
    width:100px;
    opacity:0;
}

.show {
    opacity:1;
}

.app {
    width:85vw;
    margin:2rem auto;
}

.card img {
    width:100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    transition:.2s ease-in-out;
}

.card img:hover {
    transform:scale(1.05);
    cursor:pointer;
}

.j-image img[alt="Embed Social Media Feeds on your website with Juicer!"] {
   display:none !important;
 }

 .juicer-about {
   display:none!important;
 }

 h1.referral {
   display:none !important;
 }


@media screen and (max-width: 600px)  {
   .bg-header {
      background-position:90% -10%;
   }

   .bg-invitation-box {
      background-position:77%
   }
}

